<div class="page">
	<section class="page-section">
		<header class="page-section-header">
			<h2>About SF Movies</h2>
		</header>
		<div class="page-content">
			<p>SF Movies uses San Francisco's 
				<%= link_to "open data", "https://data.sfgov.org/", :target => "_blank" %>
				to provide information on famous movies filmed around San Francisco. The site was created with Ruby on Rails. It's one of my first Rails applications, so I'd love your feedback via 
			<%= mail_to "sararob@brandeis.edu", "email" %> or 
			<%= link_to 'twitter', 'https://twitter.com/intent/tweet?screen_name=SRobTweets' %>.
			</p>
		</div>
	</section>
</div>