$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import "bootstrap";

@import "bootstrap-responsive";

h2 {
	text-align:center;
}

.hero-unit {
	margin-left:20px;
	margin-right:20px;
}

/* Display movie info page */

.page {
	max-width: 1060px;
	padding:3em 2em;
	margin-right:auto;
	margin-left:auto;
}

.page-section {
	display:block;
}


.page-content {
	padding:1.65em 2em 2em;
	background-color:white;
	border-radius:5px;
	a {
		color:#7eb6ff;
	}
}

.footer {
	margin-left:20px;
}

.back-home {
	text-align:center;
	color:black;
}

.descript {
	text-align:center;
}

.movieselect {
	text-align:center;
}

.btn-toolbar {
	text-align:center;
}

.dropdown-menu {
	text-align:left;
}