<a name="top"></a>
<div class="navbar navbar-fluid-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">SF Movies</a>
		<div class="container-fluid nav-collapse">
			<ul class="nav">
				<li><%= link_to "About", about_path %></li>
			</ul>
			<ul class="nav pull-right">
			</ul>
		</div>
	</div>
</div>
</div>